.posts_wrapper {
    padding: 0 20px;
}

.my_posts {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 15px 0px 20px 0px;
}

.new_post {
    display: flex;
    align-items: flex-end;
}

.new_post button {
    color: #fff;
    border-radius: 10px;
    background: #649bff;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

.new_post button:hover {
    background: #477AD2;
}

.new_post button:active {
    background: navy;
}